$brand-color: #ffe140;
$secondary-color: #808291;
$accent-color: #eca11a;
$white: #fff;

$dark-text-color: #262626;
$light-text-color: #f6f6f6;
$light-bg-color: #fdfbfb;
$grey-bg-color: rgba(231, 231, 231, 0.495);
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
$btn-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
$btn-shadow-hover: 0px 24px 17px -10px rgba(0, 0, 0, 0.4);
$font-montserrat: "Montserrat", sans-serif;

$bg-image1: url("../assets/sprzet-1.webp");
$bg-image2: url("../assets/sprzet-2.webp");
$bg-image3: url("../assets/sprzet-3.webp");
$bg-image4: url("../assets/sprzet-4.webp");
$bg-cta: url("../assets/cta-bg.webp");
